

<img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
<body class="auth_class">

  <div class="container login-container">

    <form (ngSubmit)="!appForm.invalid && resetPassword()" #appForm="ngForm" class="box">
      <div class="alert alert-success bg-soft-primary border-0" role="alert">
          You can now reset your password.
      </div>

      <div *ngIf='passwordName.dirty && passwordName.invalid' class="alert alert-warning" role="alert">
        <strong>Please enter your password</strong> Your password should be atleast 7 characters.
      </div>

      <div *ngIf='invalidPasswords' class="alert alert-danger" role="alert">
        <strong>Your passwords do not match with each other.</strong>
      </div>

      <div class="form-group">
        <input [(ngModel)]="userPassword.password" type="text" class="form-control" minlength="7"  name="password" #passwordName="ngModel" required="required">
        <label for="password">Password</label>
      </div>

      <div *ngIf="passwordName.dirty" class="error">
        <strong>Please re-enter your password.</strong>
      </div>

      <div *ngIf="passwordName.dirty" class="form-group">
        <input [(ngModel)]="userPassword.verifyPassword" type="text" class="form-control"  name="password" #passwordName2="ngModel" required="required">
        <label for="password">Password</label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" mat-button >Reset Password</button>
      </div>
      <div class="justify-content-center">
      </div>
    </form>

    </div>
    </body>



      <!-- <div class="col-md-6 login-form">
          <div class="login_form_in">
              <div class="auth_branding">
              </div>
            <h1 class="auth_title text-left">Password Reset<i style="margin-left:20px ;" class="fa fa-lock fa-1x"></i></h1>
            <form (ngSubmit)="!appForm.invalid && resetPassword()" #appForm="ngForm" class="box">
              <div class="alert alert-success bg-soft-primary border-0" role="alert">
                  You can now reset your password.
              </div>
              <div class="form-group">
                <input [(ngModel)]="user.username" type="text" class="form-control"  name="username" readonly>
                <label for="username">Username</label>
              </div>

              <div *ngIf='passwordName.dirty && passwordName.invalid' class="alert alert-warning" role="alert">
                <strong>Please enter your password</strong> Your password should be atleast 7 characters.
              </div>

              <div class="form-group">
                <input [(ngModel)]="userPassword.password" type="text" class="form-control" minlength="7"  name="password" #passwordName="ngModel" required="required">
                <label for="password">Password</label>
              </div>

              <div *ngIf="passwordName.dirty" class="error">
                <strong>Please re-enter your password.</strong>
              </div>

              <div *ngIf="passwordName.dirty" class="form-group">
                <input [(ngModel)]="password" type="text" class="form-control"  name="password" #passwordName2="ngModel" required="required">
                <label for="password">Password</label>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" mat-button >Reset Password</button>
              </div>
              <div class="justify-content-center">
              </div>
            </form>
          </div>
      </div>
    </div>
</body> -->




