

<img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
<body class="auth_class">

  <div class="container login-container">

    <form (ngSubmit)="!appForm.invalid && resetPassword()" #appForm="ngForm" class="box">
      <div class="alert alert-success bg-soft-primary border-0" role="alert">
          You can now reset your password.
      </div>

      <div *ngIf='invalidPasswords' class="alert alert-danger" role="alert">
        <strong>Your passwords do not match with each other.</strong>
      </div>

      <div class="form-group">
        <label for="password">New password</label>
        <input [(ngModel)]="userPassword.password" type="text" class="form-control" minlength="7" maxlength="18" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{7,18}$"  name="password" #passwordName="ngModel" required
        ngModel [class.is-invalid]="passwordName.invalid && passwordName.dirty" class="form-control" />
        <div *ngIf="passwordName.errors" >
          <div *ngIf="!passwordName.errors?.['required']" class="error">
            <strong>Please enter your password</strong><ul>
              <li>At least 1 Uppercase</li>
              <li>At least 1 Lowercase</li>
              <li>At least 1 Number</li>
              <li>At least 1 Symbol e.g. !@#$%^&*_=+-</li>
              <li>Min 7 characters and Max 18 characters</li>
            </ul>
          </div>
         </div>
      </div>


      <div class="form-group">
        <label for="password">Re-enter password</label>
        <input [(ngModel)]="userPassword.verifyPassword" type="text" class="form-control" minlength="7" maxlength="18" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{7,18}$"  name="password2" #secondPassword="ngModel" required
        ngModel [class.is-invalid]="secondPassword.invalid && secondPassword.dirty" class="form-control" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" mat-button >Reset Password</button>
      </div>
      <div class="justify-content-center">
      </div>
    </form>

    </div>
    </body>
