.login-container {
  border-radius: 12px;
  box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
  background: #FFF;
  height: 350px;
  width: 50%;
  height: 530px;
  padding: 50px;
}

/* .box {
  border: 2px solid red;
  margin-left: 300px;
  width: 100%;
} */

.login_form_in {
  margin-left: 300px;
  width: 100%;
}


.modal-backdrop {
  /* bug fix - no overlay */
  display: none;
}

.error {
  color: rgb(193, 0, 0);
}

