
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Password Reset</h4>
  </div>
  <div class="modal-body">
    <form class="text">
     <h5>Your password has been reset successfully.</h5>
     <p class="lead">We will now redirect you to the log in page</p>
    </form>
  </div> -->


  <!-- <div class="box">
  <div >
    <h5 class="box">Password Reset</h5>
  </div>
  <div class="form-floating">
    <div class="alert alert-success" role="alert">
      <h5>Your password has been reset successfully.</h5>
      <p class="lead">We will now redirect you to the log in page</p>
    </div>
  </div>
</div> -->

<h1 mat-dialog-title>Password Reset Sucessful <fa-icon [icon]="faLock"></fa-icon></h1>
<div mat-dialog-content>You will now be redirectied to the log in page.</div>
