.login-container {
  border-radius: 12px;
  box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
  background: #FFF;
  height: 350px;
  width: 50%;
  height: 330px;
  padding: 50px;
}

.login_form_in {
  margin-left: 300px;
  width: 100%;
}

.error {
  color: rgb(209, 36, 36);
  margin-bottom: 8px;
}


.login-form h1 {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
  color: #969696;
  line-height: 1.5em;
  padding: 1.2em 0px .8em;
  margin-left: 170px;
}
