<body>
<section class="vh-100">
  <br>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form (ngSubmit)="registerNewUser()" #usersEmail="ngForm" class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">First Name</label>
                      <input [(ngModel)]="userDto.firstName" name="firstName" type="text" id="form3Example1c" class="form-control" minlength="2" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.dirty" required="required"/>
                      <div *ngIf="firstName.errors" >
                        <div *ngIf="!firstName.errors?.['required']" class="error">
                          <strong> Please enter your first name. </strong>
                        </div>
                       </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Last Name</label>
                      <input [(ngModel)]="userDto.lastName" name="lastName" type="email" id="form3Example3c" class="form-control" minlength="2" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.dirty" required="required"/>
                      <div *ngIf="lastName.errors" >
                        <div *ngIf="!lastName.errors?.['required']" class="error">
                          <strong> Please enter your last name.</strong>
                        </div>
                       </div>
                    </div>
                  </div>

                  <div *ngIf='invalidUsername' class="danger" role="alert">
                    {{errorMessageUsername}}
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Username</label>
                      <input [(ngModel)]="userDto.username" name="username" type="text" id="form3Example4c" class="form-control" minlength="5" #userName="ngModel" [class.is-invalid]="userName.invalid && userName.dirty"  required="required"/>
                      <div *ngIf="userName.errors" >
                        <div *ngIf="!userName.errors?.['required']" class="error">
                          <strong> Please enter a valid username.</strong> Your username should be atleast 5 characters.
                        </div>
                       </div>
                    </div>
                  </div>

                  <div *ngIf='invalidEmail' class="danger" role="alert">
                    {{errorMessageEmail}}
                  </div>



                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Email</label>
                      <input [(ngModel)]="userDto.email" name="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel #firstEmail="ngModel"
                       [class.is-invalid]="firstEmail.invalid && firstEmail.dirty" class="form-control" />
                       <div *ngIf="firstEmail.errors" >
                        <div *ngIf="!firstEmail.errors?.['required']" class="error">
                          <strong> A valid email is required. </strong>
                        </div>
                       </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="boxContainer">
                      <label class="form-label">Password</label>
                      <input [(ngModel)]="userDto.password" name="password" type="password" class="form-control" #safePassword="ngModel"
                      [class.is-invalid]="safePassword.invalid && safePassword.dirty" minlength="7"required="required" [type]="show_button ? 'text' : 'password'"><i *ngIf="safePassword.dirty" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></i>
                      <div *ngIf="safePassword.errors" >
                        <div *ngIf="!safePassword.errors?.['required']" class="error">
                          <strong>Please enter your password</strong><ul>
                            <li>Your password should be atleast 7 characters.</li>
                          </ul>
                        </div>
                       </div>
                    </div>
                  </div>

                  <br>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
