body {
    /* height: 900px; */
      /* fallback for old browsers */
      background: #f6d365;

      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right bottom, rgb(101, 165, 234), rgba(253, 160, 133, 1));

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right bottom, rgb(101, 165, 234), rgba(253, 160, 133, 1))
}

i {
  margin-bottom: 40px;
}

.container {
  margin-top: 30px;
}

.danger {
  width:100%;
  border: none;
  border-radius:4px;
  margin-left: 40px;
  outline:none;
  padding:1px;
  padding-left: 10px;
  box-sizing:border-box;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 187, 187);
  color: rgb(124, 28, 28);
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  color: rgb(209, 36, 36);
  padding: 5px;
}

input[type=password] {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text] {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.boxContainer i{
  position: absolute;
  left: 105%;
  top: 45px;
  color: rgb(85, 85, 85);
}

.boxContainer {
  position: relative;
}
