 <div>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Password Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" data-toggle="collapse" data-target="#navbarNavDropdown">
      <div class="navbar-nav">
        <button *ngIf="this.hardcodedAuthentiction.isUserLoggedIn()" class="nav-item nav-link" (click)="routeToHome()">Home</button>
         <button *ngIf="this.hardcodedAuthentiction.isUserLoggedIn()" (click)="getToAppsWithUsername()"  class="nav-item nav-link" >Apps</button>
         <button *ngIf="this.hardcodedAuthentiction.isUserLoggedIn()" (click)="routeToProfile()"   class="nav-item nav-link">Profile</button>
         <button *ngIf="this.hardcodedAuthentiction.isUserLoggedIn()" class="logout"  class="nav-item nav-link"  (click)="routeToLogout()" >Logout</button>
        </div>
      </div>
  </nav>

</div>
