

    <!-- <br>
    <br> -->
<!--
    <div class="form-body text-center">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items" class="box">
                        <h3>Add Password</h3>
                        <p>Fill in the data below.</p> -->
                        <!-- <form (ngSubmit)="!appForm.invalid && savePassword()" class="requires-validation" #appForm="ngForm"  novalidate>

                          <div *ngIf='appName.dirty && appName.invalid' class="alert alert-warning" role="alert">
                            <strong>Please enter your app name</strong>
                          </div>
                            <div class="col-md-12" class="firstInput">
                               <input [(ngModel)]="password.app" #appName="ngModel"  class="form-control" type="text" name="name" placeholder="Ex. Facebook" required="required"> -->
                                <!-- <div class="valid-feedback">Username field is valid!</div>
                               <div class="invalid-feedback">Username field cannot be blank!</div> -->
                            <!-- </div>
                            <br>

                            <div *ngIf='passwordName.dirty && passwordName.invalid' class="alert alert-warning" role="alert">
                              <strong>Please enter your password</strong> Your password should be atleast 7 characters.
                            </div>
                            <div class="col-md-12">
                                <input [(ngModel)]="password.password" #passwordName="ngModel" class="form-control" type="password" name="password" placeholder="Ex. password123" minlength="7" required="required"> -->
                                  <!-- <div class="valid-feedback">Email field is valid!</div>
                                 <div class="invalid-feedback">Email field cannot be blank!</div> -->
                            <!-- </div>

                             <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Save Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div> -->


   <div class="color">
   <form (ngSubmit)="!appForm.invalid && savePassword()" [icon]="faLockOpen" class="requires-validation" #appForm="ngForm" class="vh-100 gradient-custom">
    <div class="container py-5 h-80">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Update Password</h2>
                <p class="text-white-50 mb-5">Fill in the data below.</p>


                <div class="form-outline form-white mb-4">
                  <div *ngIf='appName.dirty && appName.invalid' class="alert alert-warning" role="alert">
                    <strong>Please enter your app name</strong>
                  </div>
                  <input [(ngModel)]="password.app" #appName="ngModel" type="text" name="name" placeholder="Ex. Facebook" class="form-control form-control-lg" required="required"/>
                  <label class="form-label">App Name</label>
                </div>

                <div *ngIf='passwordName.dirty && passwordName.invalid' class="alert alert-warning" role="alert">
                  <strong>Please enter your password</strong> Your password should be atleast 7 characters.
                </div>

                <div class="form-outline form-white mb-4">
                  <input [(ngModel)]="password.password" #passwordName="ngModel" type="password" [type]="showPassword? 'text' : 'password'"  name="password" placeholder="Ex. password123" minlength="7" required="required"  class="form-control form-control-lg" />
                  <label class="form-label">Password</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="checkboxDisplayPassword()"/>
                  <label class="form-check-label" for="flexCheckDefault">Show password</label>
                </div>

              </div>

              <button class="btn btn-outline-light btn-lg px-5" id="submit" type="submit">Save Password <fa-icon style="margin-left: 8px;" [icon]="faLockOpen"></fa-icon></button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
